h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#searchInput {
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  outline: none;
}

#searchInput:focus {
  border-color: #f48734;
  box-shadow: 0 0 5px rgba(244, 135, 52, 0.5);
}

#clearSearch {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #888;
  display: none;
}

#clearSearch:hover {
  color: #f48734;
}

.inventory-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.inventory-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  transition: 0.3s;
  flex-wrap: wrap;
}

.inventory-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  max-width: calc(100% - 70px);
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  flex-shrink: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #f48734;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* animation */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.inventory-card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}
